<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-bottom border-dark">
  <div class="container ">
    <a class="navbar-brand mt-2 pt-3 display-1"  href="#!"> ViprasIndia</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Sign In</a>
        </li>
        <button type="button" class="btn btn-primary ms-3" routerLink="/admin/login">Login</button>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- <div class="d-flex align-items-center justify-content-center text-center" style="height: 1100px;">
  <p class="h3">Scroll down to see the effect of change the navbar background-color</p>
</div> -->